
{{!-- <h3>this is partial - it is common !!!!!!!!!!!!!!!</h3>
<ol>
    <li><a href="/">Home</a></li>
    <li><a href="/support">Support</a></li>
    <li><a href="/help">Help</a>  </li>
</ol> --}}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
      <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about">about</a></li>


      </ul>
    </nav>
</body>
</html>

