{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Support</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>This is Support</h1>    
    {{>header}}
</body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>aboutMe</h1>
 {{>header}}
    <p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit doloribus obcaecati corrupti, aut quas corporis aliquam, facilis itaque excepturi temporibus delectus cumque omnis iure exercitationem voluptates non? Neque, fuga placeat.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati omnis iure sunt. Itaque saepe nesciunt atque officiis eaque dicta labore suscipit earum doloremque sapiente, temporibus commodi illum debitis magnam doloribus!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi a est obcaecati adipisci dolore eos architecto. Esse odit, excepturi eligendi libero, molestiae placeat, soluta fuga officiis modi aliquam porro. Perspiciatis.
Ullam magnam minus veritatis modi explicabo, molestias illo nemo vel necessitatibus. Officiis itaque cupiditate dolore voluptatibus tenetur reprehenderit officia magni at exercitationem, nemo aperiam odit iusto eum incidunt nobis corporis.
Sequi quis repellat, hic magni esse provident voluptatibus necessitatibus dolore? Voluptatum sit tempora praesentium mollitia porro molestias! Expedita quaerat perferendis corrupti, excepturi illo dolore nam, omnis, velit est ut nisi.
Modi maxime culpa iure quod natus architecto nesciunt laborum nemo perspiciatis minus necessitatibus, voluptatem rem eius cumque eos veritatis! Error inventore ratione, tenetur eligendi eius rerum facere fugit ipsa minima!
</p>
</body>
</html>